.top-nav{
	height: 60px;
}

.toggle-bar{
	height: 100%;
	border-radius: 0px !important;
	color: #fff !important;
	background-color: transparent !important;		
	padding-top: 16px !important;
}

.nav-item{
	min-width: 150px;
	border-bottom:2px solid #333 !important;
	border-left:2px solid #333 !important;
	border-right: 2px solid #333 !important;
	border-radius: 0px;
	font-family: 'Gotham', Fallback, sans-serif;
	font-size: 22px;
}



.cards-section {
  height: 100vh;
  margin-top: 60px;
}

body{
	height: 100vh;
}

@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url(../../fonts/PathwayGothicOne-Regular.ttf) format('truetype');
 }