.card_holder{
	background-color: #444 !important; 
	min-width: 600px !important;
	max-width: 600px;
	border: 3px solid white !important;
	border-radius: 25px !important;
}
.card_title{
	background-color: #333 !important;
}

li{
	text-decoration: none !important;
}