.card_holder{
	background-color: black !important; 
	min-width: 600px !important;
	max-width: 600px;
	border: 6px solid #FEDB01 !important;
	border-radius: 25px !important;
	margin: 15px;
}
.card_title{
	color: #FEDB01;
	font-size: 24px;
	font-family: 'MyFont', Fallback, sans-serif;
}
.card_description{
	color: white;

}

li{
	text-decoration: none !important;
}

@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(../../fonts/Starjedi.ttf) format('truetype');
}