.header{
  font-family: 'MyFont', Fallback, sans-serif;
  font-size: 72px;
  color: #fff;
  background-color: #252120;
  text-align: center;
  margin: 0 auto;
  border-bottom: 3px solid #333;
}
.content{
  background-color:#252120;
}
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Starjedi.ttf) format('truetype');
}
body{
  background-color: #000;
}
#root{

  background-image: url("./bg.png") !important;
  background-repeat: repeat;

}  
html{
  width: 100%;
}