.header{
  font-family: 'MyFont', Fallback, sans-serif;
  font-size: 72px;
  color: #fff;
  background-color: #252120;
  text-align: center;
  margin: 0px;
  border-bottom: 3px solid #333;
  padding: 0px;
}
.content{
  background-color:#252120;
}
@font-face {
  font-family: 'MyFont';
  src: local('MyFont'), url(./fonts/Starjedi.ttf) format('truetype');
}
body,html, .App{
  width: 100%;
  margin: 0px;
  padding: 0px;

  overflow-x: hidden;

}
#root{
  width: 100%;
  background-image: url("./bg.png") !important;
  background-repeat: repeat;
  margin: 0px;
  padding: 0px;
  height: 100%;
}  
